@use 'variables' as *;
@use 'type' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--text-font);
}

main {
    display: flex;
    justify-content: space-between;
    gap: var(--grid-gap);
    min-height: 100vh;

    .panel {

        &-menu {
            background-color: var(--panel-color);
            box-shadow: 0px 0px 8px var(--bg-color-shadow);
            width: 20%;
        }

        &-manda {
            display: flex;
            width: 50%;

            canvas {
                align-self: center;
                background-color: var(--panel-color);
                border-radius: 12px;
                display: block;
                width: 100%;
                margin: auto;
            }
        }

        &-settings {
            background-color: var(--panel-color);
            box-shadow: 0px 0px 8px var(--bg-color-shadow);
            width: 20%;
        }
    }
}

footer {
    
    p {
        margin: 0;
        padding: 6px;
        font-size: 12px;
        text-align: center;
    }
}